# systemd service file for xrandr-resize-loop.sh
[Unit]
Description=Watch xev events for window resize, xrandr auto the default display
BindsTo=graphical.target

[Service]
ExecStart=~/.config/xrandr-resize-loop.sh
Restart=always
KillMode=process

[Install]
WantedBy=default.target
